*{
    margin: 0;
    padding: 2px;
    box-sizing: border-box;
}

header{
    position: relative;
    padding: 0 5px;
    background-color: transparent;
    transition: all 1s ease-in-out;
}

.navbar_2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

.nav_3{
    display: flex;
    align-items: center;
    justify-content: space-around;
}