*{
    margin: 0;
    padding: 2px;
    box-sizing: border-box;

}

body{
    display: flex;
    justify-content: center;
}

.items1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: gray;
    padding-right: 30px;
    margin-bottom: 5px;
    width: 300px
}

.items2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: gray;
    padding-right: 30px;
    margin-bottom: 5px;
    width: 300px
}

.items3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: gray;
    padding-right: 30px;
    margin-bottom: 5px;
    width: 300px
}

.items4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: gray;
    padding-right: 30px;
    margin-bottom: 5px;
    width: 300px
}
